@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel


<h1>@Model.TeamName</h1>

@foreach (var x in Model.Bowlers)
{
    <h2>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName</h2>
    <p>Address: @x.BowlerAddress, @x.BowlerCity @x.BowlerState @x.BowlerZip</p>
    <p>Phone Number: @x.BowlerPhoneNumber</p>
}

<div page-info="@Model.PageNumberingInfo"
     page-url-teamname="@Model.TeamName">
</div>